<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ads.repository.EmployeeInnerJoinAuthorityMapper">
  <select id="selectByEmployeeName" resultType="EmployeeInnerJoinAuthority">
    SELECT
      employee.id as employee_id,
      employee.code as employee_code,
      employee.name as employee_name,
      employee.password,
      authority.name as authority_name
    FROM employee INNER JOIN authority
    ON employee.authority_code  = authority.code
    WHERE employee.name = #{employeeName};
  </select>

  <select id="selectByEmployeeCode" resultType="EmployeeInnerJoinAuthority">
    SELECT
    employee.id as employee_id,
    employee.code as employee_code,
    employee.name as employee_name,
    employee.password,
    authority.name as authority_name
    FROM employee INNER JOIN authority
    ON employee.authority_code  = authority.code
    WHERE employee.code = #{employeeCode};
  </select>
</mapper>