<!--
layout.htmlのコードは
書籍　Spring Boot2入門:基礎から実演まで
著者　原田けいと、竹田甘地、Robert Segawa
のspring-security2を参考に作成している。
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/css/app.css}" rel="stylesheet">

  <title>勤怠管理システム</title>
</head>
<body>

  <!-- サイドバーの配置 -->
  <div layout:fragment="sidebar">
  </div>

  <!-- コンテンツの配置 -->
  <div layout:fragment="content">
  </div>

  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
