/*
app.cssのコードは
書籍　Spring Boot2入門:基礎から実演まで
著者　原田けいと、竹田甘地、Robert Segawa
のspring-security2を参考に作成している。
*/

/* 色 */
.text-navy {
  color: #224abe;
}

.btn-navy {
  color: white;
  background-color: #224abe;
}

.btn-navy:hover {
  color: white;
  background-color: #0d47a1;
}

/* サイドバー */
.offcanvas {
  width: 200px !important;
}

@media (min-width: 992px) {
  .offcanvas {
    transform: none !important;
    visibility: visible !important;
  }

  .offcanvas-outside {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 200px;
  }
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.5;
  border: 0;
}

/* リンク */
a {
  text-decoration: none;
}

/* サイズ */
.mh-100 {
  height: calc(100vh - 56px)
}

/* テーブル */
.table > :not(:first-child) {
    border-top: 0;
}

