<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" th:remove="tag">
</head>
<body>

<!-- サイドバー -->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツ -->
<main layout:fragment="content"
      class="offcanvas-outside bg-light">
  <div class="container-fluid">
    
    <!-- トグルボタン -->
    <div th:replace="~{fragments/sidebar :: toggler}">
    </div>
    
    <div class="row">
      <div class="col">
        登録完了
      </div>
    </div>
  
  </div>
</main>

</body>
</html>
