<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" th:remove="tag">
</head>
<body>

  <!-- サイドバー -->
  <div layout:fragment="sidebar"
    th:replace="~{fragments/sidebar :: sidebar}">
  </div>

  <!-- コンテンツ -->
  <main layout:fragment="content"
    class="offcanvas-outside bg-light">
    <div class="container-fluid">
  
      <!-- トグルボタン -->
      <div th:replace="~{fragments/sidebar :: toggler}">
      </div>

      <div class="row">
        <div class="col">
          
          <div class="card shadow h-100">
            <div class="card-header">
              <h6 class="text-navy my-2 text-center">
                <span class="text-black" th:text="${user.employeeName}"></span>さん  従業員情報編集画面
              </h6>
            </div>
            <div class="card-body h-100">
              <form th:action="@{/edit-employee-complete}" th:object="${editUser}" method="post" novalidate>
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{code}">
                <div class="mb-3">
                  <label for="name">名前:</label>
                  <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{name}">
                  <div class="invalid-feedback" th:errors="*{name}"></div>
                </div>
                <div class="mb-3">
                  <label for="password">パスワード:</label>
                  <input type="password" class="form-control" th:errorclass="is-invalid" th:field="*{password}">
                  <div class="invalid-feedback" th:errors="*{password}"></div>
                </div>
                <input type="hidden" th:field="*{authorityCode}">
                <div class="mb-3 text-center">
                  <button class="btn btn-outline-primary px-5">
                    変　更
                  </button>
                </div>
              </form>
            </div>
          </div>
          <p>
            入力チェックは機能してますが、エラーメッセージを画面表示できていません。<br>
            名前は40文字以内、空白と未入力は認めていません。<br>
            パスワードは255文字以内、空白と未入力は認めていません。
          </p>
        </div>
      </div>
      
    </div>
  </main>

</body>
</html>
