<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" th:remove="tag">
</head>
<body>

<!-- サイドバー -->
<div layout:fragment="sidebar"
     th:replace="~{fragments/sidebar :: sidebar}">
</div>

<!-- コンテンツ -->
<main layout:fragment="content"
      class="offcanvas-outside bg-light">
    <div class="container-fluid">
        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>
        
        <div class="row">
            <div class="col">
                
                <div class="card shadow vh-100">
                    <div class="card-header">
                        <h6 class="text-navy my-2 text-center">
                            従業員一覧
                        </h6>
                    </div>
                    <div class="card-body table-responsive vh-100">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>従業員名</th>
                                <th>権限名</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="employee : ${employeeList}" th:object="${employee}">
                                <td>
                                    <a th:href="@{/admin/attendance-status-selection/{employeeCode}(employeeCode=*{employeeCode})}">
                                        <span th:text="*{employeeName}"></span>
                                    </a>
                                </td>
                                <td th:text="*{authorityName}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            
            </div>
        </div>
        
    </div>
</main>

</body>
</html>
