<!--
error.htmlのコードは
書籍　Spring Boot2入門:基礎から実演まで
著者　原田けいと、竹田甘地、Robert Segawa
のspring-security2を参考に作成している。
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" th:remove="tag">
</head>
<body>

  <!-- サイドバー -->
  <div layout:fragment="sidebar"
    th:replace="~{fragments/sidebar :: sidebar}">
  </div>

  <!-- コンテンツ -->
  <main layout:fragment="content"
    class="offcanvas-outside bg-light vh-100">
    <div class="container-fluid">
      <!-- トグルボタン -->
      <div th:replace="~{fragments/sidebar :: toggler}">
      </div>

      <div class="row mh-100 align-items-center justify-content-center">
        <!-- エラーメッセージ -->
        <div th:replace="~{fragments/message :: error}">
        </div>
      </div>
    </div>
  </main>

</body>
</html>
