<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" th:remove="tag">
</head>
<body>

  <!-- サイドバー -->
  <div layout:fragment="sidebar"
    th:replace="~{fragments/sidebar :: sidebar}">
  </div>

  <!-- コンテンツ -->
  <main layout:fragment="content"
    class="offcanvas-outside bg-light">
    <div class="container-fluid">
      <!-- トグルボタン -->
      <div th:replace="~{fragments/sidebar :: toggler}">
      </div>

      <div class="row">
        <div class="col">

          <div class="card shadow vh-100">
            <div class="card-header">
              <h6 class="text-navy my-2 text-center">
                <span class="text-black" th:text="${user.employeeName}"></span>さん  退勤打刻完了
              </h6>
            </div>
            <div class="card-body vh-100 text-center">
              <div class="pt-5">
                <h5>
                  <span th:text="${user.employeeName}"></span>さん<br>
                </h5>
              </div>
              <div class="pt-5">
                <h5>
                  今日も1日お疲れ様でした。
                </h5>
              </div>
              <div class="pt-5">
                <a th:href="@{/logout}" class="btn btn-primary text-white px-5 ">
                  ログアウト
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>

</body>
</html>
